#caixa0{
    border-style: solid;
    border-width: 1px;
    overflow:auto;
    font-size: 40px;
    text-align: center;
    background-color: white;    
    }

#caixa1{
    border-style: solid;
    border-width: 1px;
    margin: 2%;
    padding:2%;
    text-align: left;
    font-size: 50px;
    text-align: center;
    background-color: white;
    height: auto;
    
}
#caixa2{
    font-size: 35px;
    text-align: left;
       
}
.box{
    height:35px;
    font-size:25px;
    width: 50%;

}
#botao_cad{
    background-color: #f44336;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 190px;
    height: 70px;;
    font-size: 30px;
    margin: 4px 2px;  
}

#botao_cad:hover, #botao_cad:active{
    background-color: red;
}

img{
    
    width: 180px;
    float:left;   
    }

body{
background-image: url(incendio.jpg);
        
   }

   #caixa3{
    text-align:left;
    font-size: 35px;
}

a:link {
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
    color:rgb(139, 9, 9);
  }

  a:visited {
    text-decoration: none;
    color:red;
   
  }
