body{
    background-image: url(incendio.jpg);
}
#caixa2{
    
    height: 212px;
    background-color:black;
margin-right: 50%;
margin-left: 40%;
}

#caixa3{
    border-style: solid;
    border-width: 1px;
    height: 400px;
    width: 20%;
    background-color: white;
    margin-left: 2%;
    margin-top: 2%;
    float: left;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
}
#caixa4{
    border-style: solid;
    border-width: 1px;
    height: auto;
    width: 16%;
    margin-right: 2%;
    background-color: white;
    margin-top: 2%;
    float: right;
    font-size: 30px;
    padding: 2%;
    text-align: center;
}
#caixa5{
    border-style: solid;
    border-width: 1px;
    height: auto;
    width: 46%;
    margin-left: 25%;
    margin-top: 2%;
    background-color: white;
    font-size:35px;
    padding: 2%;
    text-align:justify;
    overflow: auto;
    
}

#img1{
    float:center;
    width: 300px;
    }

    #img2{
        float:left;
        width:300px;
        height:250px;
          
    }
    #img3{
        float: right;
        width:400px;
        height:270px;
    }
    #img4{
        width:150px;
        
        padding-left: 38%;
    }

    a{
        font-size: 35px;
               
    }

    a:link {
        text-decoration: none;
      }

    a:hover {
        text-decoration: underline;
        color:rgb(139, 9, 9);
      }

      a:visited {
        text-decoration: none;
        color:red;
       
      }
#botao:link, #botao:visited{
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
    #botao:hover, #botao:active{
        background-color: red;
    }
      
      